// Place all the styles related to the guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 400;
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: 400;
}


html {
  font: 40px 'Ubuntu';

}

body {
  background: image-url("killian.jpg") no-repeat center center fixed;
 // background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

h1 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
p {
  font-size: 12px;
}

.main-text {
}
.inner-main-text {
  margin-top: 400px;
  text-align: center;
  border-top: 10px solid #000000;
  //border: 10px;
  background-color:rgba(0, 0, 0, 0.5);

}

.rsvp-form {
  width: 400px;
  padding-bottom: 200px;
  //text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.rsvp-form-inner {
 // background-color:rgba(0, 0, 0, 0.5);
 float: left;
}

.email {
  width: 200px;
}


.sun {
  position: relative;
  width: 100px;
  left: -200px;
  display: inline;
}
.sun2 {
  position: relative;
  width: 100px;
  left: 200px;
  display: inline;
}

.detail {
  display: inline;
}



.head {
  //left: 700px;
  top: 200px;
  position: absolute;
}

