// Place all the styles related to the guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 400;
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: 400;
}


html {
  font: 40px 'Ubuntu';

}

body {
  font: 40px 'Ubuntu';
  background: image-url("MIT_Killian_Court_hologram.jpg") no-repeat center center fixed;
 // background: url(images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #ffffff;
}

h1 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
p {
  font-size: 12px;
}

.main-text {
}
.header-text {
  text-align: center;
  margin-right: 5%;
  margin-top: 5%;
  float: right;
  display: block;
  height: 300px;
  //border-top: 10px solid #000000;
  //border: 10px;
  //background-color:rgba(0, 0, 0, 0.5);

}
.bottom {
  display: inline-block;
  margin-top: 150px;
}

.inner-main-text {
  display: inline;
}
.inner-main-text p {
  display: inline-block;
  margin-left: 5%;
  width: 50%;
  font-size: 20px;
  text-align: justify;
}
.p2 {
  margin-top: 0px;
}

.form {
  display: inline;

}
.rsvp-form-inner {
  width: 20%;
  margin-right: 5%;
  margin-top: -200px;
 // background-color:rgba(0, 0, 0, 0.5);
 float: right;
 display: inline;
 font-size: 15px;
}
.rsvp-form-inner h1 {
  margin-top: 150px;
}
.alert {
  display: inline;
}
