// Place all the styles related to the guests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//

@font-face {
    font-family: 'Source Code Pro';
    font-weight: 400;
}

html {
  font: 40px 'Source Code Pro';
}

h1 {
  font-size: 40px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
p {
  font-size: 12px;
}

.header {
  text-align: center;
}

.new_guest {
  text-align: center;
}
